extends ../layout.pug

block content
  if notConnectedInterfaces.length === 0
    p ℹ️ all interfaces connected
  else
    p ❌ interfaces not connected:
      each iface in notConnectedInterfaces
        strong= iface.name

  article
    a.button(href='/services/create' role='button') Create New Service

    if services.length === 0
      p No services found.
    else
      table
        thead
          tr
            th Name
            th Interfaces
            th Domains
            th Actions
        tbody
          each service in services
            tr
              td= service.name
              td= service.interfaces.join(', ')
              td
                if service.routes.length > 0
                  - const routesByDomain = {}
                  - const routesByInterface = {}
                  each route in service.routes
                    if route.comment && route.comment.startsWith('dns-auto:')
                      - const domain = route.comment.split(':')[2]
                      - if (!routesByDomain[domain]) routesByDomain[domain] = []
                      - routesByDomain[domain].push(route)
                    else
                      - if (!routesByInterface[route.interface]) routesByInterface[route.interface] = []
                      - routesByInterface[route.interface].push(route)

                  if Object.keys(routesByDomain).length > 0
                    strong= service.matchingDomains.join(', ')
                    br
                    each domain, domainName in routesByDomain
                      .domain-group
                        strong= domainName
                        div.routes= domain.map(route => route.host).join(', ')
                  form(method='POST' action=`/services/remove-routes/${service.id}` onsubmit='return confirm("Are you sure you want to remove all routes for this service?");')
                    button.outline.secondary(type='submit') Remove Routes
                else
                  | No routes
              td
                a.button.secondary(href=`/services/update/${service.id}`) Edit
                form(method='POST' action=`/services/delete/${service.id}` style='display: inline;' onsubmit='return confirm("Are you sure you want to delete this service?");')
                  button.button.contrast(type='submit') Delete
