extends ../layout.pug

block content
  if notConnectedInterfaces.length === 0
    p ℹ️ all interfaces connected
  else
    p ❌ interfaces not connected:
      each iface in notConnectedInterfaces
        strong= iface.name

  article
    a.button(href='/services/create' role='button') Create New Service

    if services.length === 0
      p No services found.
    else
      table
        thead
          tr
            th Name
            th Interfaces
            th Domains
            th Actions
        tbody
          each service in services
            tr
              td
                a(href=`/services/${service.id}`)= service.name
              td= service.interfaces.join(', ')
              td= service.matchingDomains.join(', ')
              td
                a.button.secondary(href=`/services/update/${service.id}`) Edit
