extends ../layout.pug

block content
  if services.length === 0
    p No services found.
    a.create(href='/services/create') Create New Service
  else
    table
      thead
        tr
          th Name
          th Interfaces
          th Matching Domains
          th Actions
      tbody
        each service in services
          tr
            td= service.name
            td= service.interfaces.join(', ')
            td= service.matchingDomains.join(', ')
            td.actions
              a.edit(href=`/services/update/${service.id}`) Edit
              form(method='POST' action=`/services/delete/${service.id}` style='display: inline;' onsubmit='return confirm("Are you sure you want to delete this service?");')
                button.delete(type='submit') Delete
    hr
    a.create(href='/services/create') Create New Service
